* {
    block-size: border-box;
    font-family: 'VT323', monospace;
    touch-action: manipulation;
}

body {
    width: 800px;
    display: block;
    margin: 0px auto;
}

canvas {
    border: 1px solid;
}

p {
    margin: 5px auto;
    font-size: 24px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

#score-display {
    width: 100%;
    margin: 30px auto 0px auto;
}

footer {
    display: block;
    margin: 0px auto;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
